body{
    margin: 0px;
    padding: 0px;
    display: grid;
}

.title{
    color: white;
    text-decoration: none;
    margin: auto 8px auto 8px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background-color: rgb(24, 24, 24);
    display: flex;
}

.searchbox{
    margin: 8px 8px 8px 8px;
    border-style: hidden;
    background-color: rgb(24, 24, 24);
    width: auto;
    transition: 300ms;
    color: white;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Montserrat', sans-serif;
}

.searchbox:focus{
    margin: 8px 8px 8px 8px;
    width: 300px;
    border: hidden;
}

.searchbutton{
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    transition: 300ms;
}

.searchbutton:hover{
    transform: scale(1.1);
    transition: 300ms;
}

.tab{
    display: inline-flex;
    width: auto;
    height: auto;
    background-color: rgb(37, 37, 37);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
}

.img_im{
    height: 80px;
    width: 70px;
    padding: 10px;
}

.details{
    margin-top: auto;
    margin-bottom: auto;
}

.link{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    transition: 200ms;
}

.link:hover{
    color: grey;
    transition: 200ms;
}

.mainpage{
    display: grid;
}